body {
    background: var(--foodie-bg);
}
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header-wrap {
    margin-top: 40px;
    &__brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__navigation ul {
            display: flex;
            list-style-type: none;
        }
    }
}

.primary-button--unfilled {
    background-color: transparent;
    @extend .button;
    a {
        @extend .a;
        color: var(--foodie-link-color);
    }
}

.secondary-button--filled {
    @extend .button;
    background-color: black;
    a {
        @extend .a;
        font-size: var(--foodie-small-font);
        color: white;
    }
    &:hover {
        background-color: var(--foodie-primary);
    }
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    &__title h1 {
        @extend .fonts;
        text-align: center;
    }
    &__search-bar {
        display: flex;
        padding: 24px;
        background: var(--foodie-input-bg);
        margin-top: 32px;

        &__input {
            display: flex;
            align-items: center;
            position: relative;
        }
        input {
            width: 484px;
            height: 62px;
            padding: 20px 24px;
            font-size: 16px;
            font-family: "Graphik-Regular";
            font-weight: normal;
            border-radius: 5px;
            border-style: none;
            color: var(--foodie-text-color);
            margin-right: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
        }
        img {
            position: absolute;
            right: 2rem;
        }

        &__select-meals-button {
            display: flex;
            .select-meals-button--filled {
                background-color: white;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
                height: 62px;
                padding-right: 50px;
                padding-left: 20px;
                margin-right: 12px;
                position: relative;
                display: flex;
                align-items: center;
                select {
                    -webkit-appearance: none;
                    color: var(--foodie-text-color);
                    font-family: "Graphik-Regular";
                    outline: none;
                    border: none;
                    text-transform: none;
                }
                img {
                    position: absolute;
                    right: 16px;
                }
            }
            .cook-button--filled {
                background-color: var(--foodie-primary);
                padding: 19px 40px;
                &:hover {
                    background-color: black;
                }
            }
        }
    }
}

.images {
    &__image-top {
        position: fixed;
        top: 85px;
        right: 0px;
    }
    &__image-bottom-left {
        position: fixed;
        bottom: 0px;
        left: 0px;
    }
    &__image-bottom-right {
        position: fixed;
        bottom: 0px;
        right: 0px;
    }
}
